<!DOCTYPE html>
<html lang="en">
  <style>

    a {
    font-size: 25px;
    color: #0000ff;
    }
    </style>
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
  <body style="background-color:powderblue;">
    <div>
    <img src="../../static/images/Ash-Logo-no-tagline_1535x336.jpg" alt="Ashling" width="500" height="80" align="right"></div>
    <br><br><br><br><br><br><br>
    <h1>Please select any of the below versions to see the testing status</h1>
  {% for sheet in sheets %}
  <a href="{% url 'about' %}?test_sheet={{ forloop.counter0 }}">{{sheet}}</a> <br>
  {% endfor %}
</body>
</html>